<div class="center hero-unit">
<h1>Welcome to shadchan.co.il</h1>
<h2>
  This is the home page for shadchan.co.il facebook dating app
</h2>
<%= link_to "Sign up via facebook", '#', class: 'btn btn-large btn-primary' %>
</div>

